extends ../layouts/base.pug

block config
  - titre = 'Titre de la page'

block content 
  p Lorem ipsum dolor sit amet consectetur adipisicinge elit. Tempore maiores a, reprehenderit eligendi dolore dignissimos asperiores laborum voluptates illo, blanditiis exercitationem, illum fuga. Dolore perspiciatis a blanditiis, vitae eveniet odit.
  p Lorem ipsum dolor sit amet consectetur adipisicinge elit. Tempore maiores a, reprehenderit eligendi dolore dignissimos asperiores laborum voluptates illo, blanditiis exercitationem, illum fuga. Dolore perspiciatis a blanditiis, vitae eveniet odit.