block config
doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    //if IE
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Site | #{titre}
    link(rel='stylesheet' href='css/styles.css' media='all')
  body
    block content